# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# SQLite
*.sqlite3

# Local databases
*.db
