.faq{
    padding:80px;
    background:#f7f7f7;
}

.faq h2{
    text-align:center;
    color:#58CC02;
    font-size:42px;
    margin-bottom:50px;
}

.faq-container{
    max-width:900px;
    margin:auto;
}

.faq-item{
    background:white;
    padding:25px;
    margin-bottom:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.faq-item h3{
    color:#58CC02;
    margin-bottom:15px;
}

.faq-item p{
    color:#555;
    line-height:1.6;
}