.footer{
    background:#050814;
    color:white;
    padding:80px 8% 30px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:40px;
}

.footer-column h2{
    color:#7C4DFF;
    margin-bottom:20px;
    text-shadow:0 0 15px #7C4DFF;
}

.footer-column h3{
    color:white;
    margin-bottom:18px;
}

.footer-column p,
.footer-column li{
    color:#bcc2da;
    margin-bottom:12px;
    line-height:1.7;
}

.footer-column ul{
    list-style:none;
    padding:0;
}

.footer-column li{
    cursor:pointer;
    transition:.3s;
}

.footer-column li:hover{
    color:#7C4DFF;
    transform:translateX(6px);
}

.socials{
    font-size:28px;
    margin-top:15px;
}

.footer hr{
    margin:45px 0 20px;
    border:.5px solid rgba(255,255,255,.15);
}

.copyright{
    text-align:center;
    color:#8e95b8;
}